
*~
*.swp
*.mdb
*.dll
**/config.xml

.idea/**
Releases/**
obj/**
*/obj/**

*.user

*.pdb

.vs
Unity/Temp
Unity/Library
Unity/ProjectSettings
Unity/Assets/PartTools
Unity/Assets/Plugins
Unity/Assets/SquadCore

*.meta
Unity/Assembly-CSharp-Editor.csproj
Unity/Assembly-CSharp.csproj
Unity/Assets/Editor/KSPCurveEditor.cs
Unity/Assets/Editor/TextMeshProResolver.cs
Unity/AT_Utils.sln
Unity/AssetBundles
Unity/UnityPackageManager/manifest.json
/Unity/Assets/XML/squadcore_bundle.xml
