
*~
*.swp
*.mdb
*.dll
**/config.xml

.idea/**
Releases/**
obj/**
*/obj/**

*.user

*.pdb
*.pdb.meta

.vs
Unity/Temp
Unity/Logs
Unity/Library
Unity/ProjectSettings
Unity/AssetBundles
Unity/Assembly-CSharp-Editor.csproj
Unity/Assembly-CSharp.csproj
Unity/UnityPackageManager/manifest.json
Unity/Assets/Editor/KSPCurveEditor.cs
Unity/Assets/Editor/TextMeshProResolver.cs
Unity/Assets/PartTools
Unity/Assets/Plugins/KSPAssets
Unity/Assets/SquadCore
Unity/Assets/TextMesh Pro
Unity/.idea
Unity/AT_Utils.sln

Unity/Assets/XML/squadcore_bundle.xml
Unity/Assets/XML/squadcore_bundle.xml.meta
Unity/Assets/Editor/FindMissingScripts.cs.cs.meta
Unity/Assets/Editor/FindMissingScriptsRecursive.cs.meta
Unity/Assets/Editor/KSPCurveEditor.cs.meta
Unity/Assets/Plugins/KSPAssets.meta
Unity/Assembly-CSharp-Editor-firstpass.csproj
Unity/Assembly-CSharp-firstpass.csproj
Unity/PartTools.cfg
Unity/Assets/PartTools.meta
Unity/Assets/SquadCore.meta
Unity/Packages/manifest.json
